@charset "UTF-8";

:root {
    --corwhite: white;
    --corblack: black;
    --cor0: #0300e6;
    --cor1: #109aeb;
    --cor1a: #e9f6ff;
    --cor1b: #b4d0ff;
    --cor2: #4366ff;
    --cor3: #020008c5;
    --cor4: #010035;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
}
body {
    background-color: var(--cor4);
}
header {
    background-color: var(--cor0);
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 1.781), var(--cor0a));
    text-align: center; 
    padding-top: 10px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-style: double;
}
header > h2 {
    color: var(--cor1a);
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.596);
    padding-top: 7px;
}
header > h2 span {
    color: var(--cor2);
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.596);
}

nav {
    text-align: center;
    font-size: 1.3em;
    background-color: var(--cor0);
    background-image: linear-gradient(to bottom, black 90%,#0300c5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    padding: 14px 0px 24px 0px;
}
nav button {
    padding: 10px 28px 10px 28px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .5s;
    flex: 1 0 270px;
    align-content: center;
    text-align: center;
    border: none;
    background: none;
    font-size: 1.3rem;
}
nav a {
    color: var(--cor1);
    padding: 10px 28px 10px 28px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .5s;

    flex: 1 0 199px;
    align-content: center;
    text-align: center;
}
nav  a:hover{
    border-radius: 7px;
    background-color: var(--cor1a);
    color: var(--cor5);
    transition: 1s;
}

main.content-main  {
    width: 94vw;
    margin: 10px auto;
    box-shadow: 2px 3px 7px 0px black;
    background-color: var(--cor3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-name {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    /* background: url("./img/bgGimp.png") no-repeat center center/100%; */
}
.my-name .my-dream {
    position: absolute;
    left: 10%;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    z-index: 1;
    filter: drop-shadow(3px 3px 1px black) contrast(2.5);
}
.my-name .my-dream h1 {
    color: var(--cor1a);
    font-size: 4.5em;
}
.my-name .my-dream h1 span {
    color: var(--cor1);
}
.my-name h3 {
    color: var(--cor1a);
    font-size: 1.2em;
}
.my-name .my-img {
    /* display: flex;
    justify-content: flex-end; */
    position: absolute;
    right: 4%;
    z-index: 0;
    filter: saturate(2) opacity(0.7);
}
.my-name .my-img img {
    width: 30em;
    height: 20em;
}
.my-name .my-img::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 0%;
    width: 20%;
    height: 100%;
    color: white;
    z-index: 3;
    background-color: var(--cor3);

    animation: animationBefore 3s alternate infinite;
}
.my-name .my-img::after {
    content: '';
    position: absolute;
    left: -7%;
    top: 0%;
    width: 20%;
    height: 100%;
    color: white;
    z-index: 1;
    background-color: #020008;

    animation: animationAfter 3s alternate infinite;
}

section.about-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 4%;
    background-color: var(--corblack);
}   
section.about-me div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* section.about-me img.img-port {} */
section.about-me div h2 {
    color: var(--cor1a);
    font-size: 4.5em;
    z-index: 4;
}
section.about-me div h2 span{
    color: var(--cor1);
}
section.about-me div p {
    color: var(--cor1b);
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 50px;
    z-index: 5;
}
section.about-me div button {
    color: var(--corwhite);
    background-color: var(--cor0);
    height: 50px;
    width: 50%;
    font-size: 1.2em;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    z-index: 5;

    animation: animationBtn 3s linear infinite;
}
section.about-me div button:hover {
    background-color: var(--cor4);
    border: 2px solid var(--cor1b);
    transition: .4s;
}
section.about-me div button a {
    color: var(--corwhite);
    font-size: 1.2em;
    text-decoration: none;
}
section.about-me div button a:hover {
    color: var(--cor1b);
    transition: .5s;
}


section.my-projects {
    background-image: linear-gradient(180deg, var(--cor3), var(--cor2), var(--cor4)) !important;
    padding: 20px 0px 70px 0px;
}
section.my-projects h2 {
    color: var(--corwhite);
    font-size: 4em;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
div.container-cards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 20px;
}
section.my-projects div.container-cards div.card {
    background-color: var(--corblack);
    background: var(--corblack) linear-gradient(0deg, black, blue, black 70%);
    height: 375px;

    /* width: 335px; Para responsividade dos cards usamos a propredade flex = flex grow, flex-shirink e flex-basis.*/
    flex: 0 1 335px;

    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    animation: animationCards 10s linear infinite;
}
section.my-projects div.container-cards div.card img {
    height: 100px;
}
section.my-projects div.container-cards div.card h4 {
    padding-top: 10px;
    color: var(--cor1a);
    font-size: 1.8em;
}
section.my-projects div.container-cards div.card p {
    color: var(--cor1b);
    margin: 20px 0px 40px 0px;
}
section.my-projects div.container-cards div.card button {
    background: none;
    border: none;
    border-radius: 26px;
    font-size: 1rem;
    cursor: pointer;
}
section.my-projects div.container-cards div.card a {
    background-color: var(--cor0);
    color: var(--cor1a);
    padding: 12px 22px;
    border-radius: 26px;
    text-decoration: none;
}
section.my-projects div.container-cards div.card a:hover {
    border: 1.5px solid var(--cor1);
    background-color: var(--cor4) transparent;
    transition: 500ms;
}



/* Animation */
.to-hide {/* Escondido = to hide*/
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-200%);
    transition: all 2s;
}
.to-appear {/* Mostrar = to appear */
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}
.my-img img.img-port {
    animation: animationBg 4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s infinite alternate both running;
    width: 200px;
}

.my-img :nth-child(1) {
    z-index: 2;
    filter: contrast(2) drop-shadow(-14px 0px 3px black);
}
.my-img :nth-child(2) {
    position: absolute;
    top: 0.5%;
    left: -20%;
    z-index: 1;
    filter: contrast(100) brightness(0.2) drop-shadow(-14px 0px 3px black);
    transition-delay: .5ms;
}
.my-img :nth-child(3) {
    position: absolute;
    top: 1%;
    left: -40%;
    filter: drop-shadow(-14px 0px 3px black);
    transition-delay: 1s;
}


footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--corblack);
    /* text-align: center; */
    padding: 100px 0px 100px 0px;
}
footer h5 {
    color: var(--corwhite);
    font-size: 1.8em;
}
footer p {
    color: var(--cor1a);
    font-size: 1.1em;
    margin: 20px 0px 30px 0px;
}
footer div.my-contacts {
    display: flex;
    gap: 20px;
}

/* Animation childs */
footer div.my-contacts a:nth-child(1) {
    animation-delay: 0.2s;
}
footer div.my-contacts a:nth-child(2) {
    animation-delay: 0.4s;
}
footer div.my-contacts a:nth-child(3) {
    animation-delay: 0.6s;
}
footer div.my-contacts a:nth-child(4) {
    animation-delay: 0.8s;
}

footer div.my-contacts a {
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--cor0);
    margin-bottom: 20px;

    animation: animationContacts 1.2s infinite alternate ease-in-out;
}
footer div.my-contacts a:hover {
    background-color: var(--cor3);
    transform: scale(1.4);
    transition: 500ms;
    animation-delay: 10s;
}
footer div.my-contacts img {
    filter: invert(100%) brightness(100%) contrast(80%);
    height: 30px;
    display: flex;
}


marquee {
    width: 90%;
    color: var(--cor1a);
    background-color: var(--cor0a), transparent;
}
footer p::before {
    content: "« ";
    color: var(--corwhite);
}
footer p::after {
    content: " »";
    color: var(--corwhite);
}

@keyframes animationBg {
    from {
        filter: saturate(0) opacity(0) contrast(10);
        transform: scale(70%);
    }
    to {
        filter: saturate(2) opacity(0.7);
        transform: scale(105%);
    }
}

@keyframes animationBtn {
    0% {
        transform: scale(50%);
        filter: contrast(0);
    }
    100% {
        transform: scale(100%);
        filter: contrast(5);
    }
}
@keyframes animationBefore {
    0% {
        left: -7%;
    }
    100% {
        left: 77%;
    }
}
@keyframes animationAfter {
    0% {
        left: 77%;
    }
    100% {
        left: -7%;
    }
}

@keyframes animationContacts {
    to {
        background-color: rgb(0, 0, 14);
    }
}

/* Animation Cards */
@keyframes animationCards {
    /* from {
        background: var(--corblack) linear-gradient(0deg, black, blue, black 70%);
    } */
    10% {
        background: var(--corblack) linear-gradient(38deg, black, blue, black 70%);
    }
    20% {
        background: var(--corblack) linear-gradient(76deg, black, blue, black 70%);
    }
    30% {
        background: var(--corblack) linear-gradient(114deg, black, blue, black 70%);
    }
    40% {
        background: var(--corblack) linear-gradient(152deg, black, blue, black 70%);
    }
    50% {
        background: var(--corblack) linear-gradient(190deg, black, blue, black 70%);
    }
    60% {
        background: var(--corblack) linear-gradient(228deg, black, blue, black 70%);
    }
    70% {
        background: var(--corblack) linear-gradient(266deg, black, blue, black 70%);
    }
    80% {
        background: var(--corblack) linear-gradient(304deg, black, blue, black 70%);
    }
    90% {
        background: var(--corblack) linear-gradient(342deg, black, blue, black 70%);
    }
    100% {
        background: var(--corblack) linear-gradient(380deg, black, blue, black 70%);
    }
}