@charset "UTF-8";


/* Versão para telas abaixo de 768px */
@media screen and (min-width: 230px) and (max-width: 768px) {
    header nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .my-name {
        text-align: center;
    }
    .about-me {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 490px) {
    .my-name .my-img img {
        width: 100%;
        height: 300px;
    }
}
